<div class="h-full w-full flex justify-center items-center flex-col gap-7">
  <img
    src="assets/create-project-launchpad.svg"
    alt="Create project launchpad"
  />
  <h1 class="font-raleway text-lg mx-15">
    Now it's time to compose your launchpad. This step allows you to structure
    the key elements of your project presentation. Please note that there are
    three mandatory elements: 'Launch APE,' 'Our Story,' and 'Since' (the date
    the project started). These elements are included by default and cannot be
    removed. Make sure to review and customize the other fields to best
    represent your project before proceeding to the next step.
  </h1>
  <a
    class="bottom-20 rounded-full w-1/2 bg-primary flex justify-center items-center mx-auto py-3 text-white hover:scale-105 transition-transform duration-200"
    routerLink="/create-project/3.2"
  >
    Next
    <lucide-angular
      name="arrow-right"
      class="text-white cursor-pointer hover:text-gray-300 transition-colors duration-100 ml-2"
    ></lucide-angular>
  </a>
</div>
