<div class="bg-primary min-h-screen relative">
  <app-navbar
    class="fixed h-20 flex justify-between w-full z-50 bg-primary px-5 py-5"
  ></app-navbar>

  <main
    class="pt-24 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-7 px-7 pb-5"
  >
    <ng-container *ngIf="isLoading">
      <app-skeleton *ngFor="let number of numSequence(10)"></app-skeleton>
    </ng-container>

    <app-project
      *ngFor="let project of projects"
      [project]="project"
      [routerLink]="'/project/' + project.id"
    ></app-project>
  </main>
  <a
    *ngIf="isAdmin"
    class="fixed bottom-10 right-10 rounded-full bg-white h-15 w-15 md:flex justify-center items-center hover:scale-120 transition-all duration-200 hidden"
    routerLink="/create-project"
  >
    <lucide-angular
      name="plus"
      class="text-primary-light"
      size="50"
    ></lucide-angular>
  </a>
</div>
