<div class="max-w-lg w-full py-4 px-3">
  <div class="bg-white shadow-xl rounded-lg overflow-hidden flex">
    <div
      class="bg-cover bg-center w-1/3 h-auto p-3"
      [ngStyle]="{ 'background-image': 'url(' + Imgurl + ')' }"
    ></div>
    <div class="w-2/3 p-3 flex flex-col justify-between">
      <div>
        <p class="uppercase tracking-wide text-xs font-bold text-gray-700">
          {{ Type }} • added {{ Date }}
        </p>
        <p class="text-xl text-gray-900">{{ Name }}</p>
        <p class="text-gray-700 text-sm pb-2">
          {{ Description }}
        </p>
      </div>
      <div class="flex p-2 border-t border-gray-300 text-gray-700 text-xs">
        <div class="flex-1 inline-flex items-center">
          <p><span class="text-gray-900 font-bold mr-1">LAT</span>{{ Lat }}</p>
        </div>
        <div class="flex-1 inline-flex items-center">
          <p>
            <span class="text-gray-900 font-bold mr-1">LONG</span>{{ Long }}
          </p>
        </div>
      </div>
      <div class="px-3 pb-3"></div>
      <button class="ml-auto rounded-xl w-25 bg-primary-light text-white">
        Details
      </button>
    </div>
  </div>
</div>
