<app-layout>
  <div class="p-16">
    <div id="map" class="w-full h-64 rounded-lg overflow-hidden"></div>

    <div id="popup" class="ol-popup">
      <div
        id="pop"
        class="rounded-xl w-60 h-40 shadow-xl image-full border-4 border-neutral-50 border-opacity-100 relative overflow-hidden"
      >
        <div class="z-10 p-2 bg-cover text-white h-full" id="popup-div">
          <h2 class="text-xl font-bold z-10" id="popup-title">
            Hier komt jouw sensor box naam
          </h2>
          <p id="popup-description">Coordinaten van jouw sensor box</p>
          <div class="card-actions justify-end">
            <button id="popup-buy-btn" class="btn btn-sm" [routerLink]="url">
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
