<div class="h-full w-full flex justify-center items-center flex-col gap-7">
  <img
    src="assets/create-project-description-image.svg"
    alt="Create project description"
  />
  <h1 class="font-raleway text-lg mx-15">
    Write a clear and detailed project description in Markdown format, similar
    to the example shown above. Summarize the purpose, impact, and context of
    the project. Explain why this project is important, who will benefit from
    it, and what solutions or methods will be implemented. Feel free to provide
    as much detail as needed to fully capture the essence of the project.
  </h1>
  <a
    class="bottom-20 rounded-full w-1/2 bg-primary flex justify-center items-center mx-auto py-3 text-white hover:scale-105 transition-transform duration-200"
    routerLink="/create-project/2.2"
  >
    Next
    <lucide-angular
      name="arrow-right"
      class="text-white cursor-pointer hover:text-gray-300 transition-colors duration-100 ml-2"
    ></lucide-angular>
  </a>
</div>
