<div class="bg-primary min-h-screen relative flex">
  <app-navbar
    class="fixed h-20 flex justify-between w-full z-50 bg-primary px-5 py-5"
  ></app-navbar>

  <main class="pt-20 px-7 pb-5 mx-auto md:w-5/6 sm:w-11/12 w-full flex gap-3">
    <div class="w-1/6 flex relative">
      <div class="grid grid-rows-4 gap-5 w-full">
        <div class="text-white font-bold row-span-1 flex items-end">
          <div>
            <h3 class="text-xl [text-shadow:_4_4px_4px_rgb(0_0_0_/_40%)]">
              Project
            </h3>
            <h1 class="text-4xl [text-shadow:_4px_4px_4px_rgb(0_0_0_/_40%)]">
              {{ project?.title }}
            </h1>
          </div>
        </div>
        <a
          class="h-full bg-black rounded-lg relative flex items-center justify-center row-span-3 cursor-pointer"
          [routerLink]="'/dashboard/' + projectId"
        >
          <h1 class="text-3xl text-white font-bold text-center">
            Launch <br />AP_Terra
          </h1>
          <div class="absolute bottom-5 left-5">
            <lucide-angular
              name="circleArrowRight"
              class="text-white"
              size="50"
            ></lucide-angular>
          </div>
        </a>
      </div>
    </div>
    <div class="w-5/6 bg-blue-300 inline-block">
      <!-- Launchpad goes here -->
    </div>
  </main>
</div>
