<div class="h-full w-full flex justify-center items-center flex-col gap-15">
  <h1 class="font-bold text-6xl font-raleway w-full">TO DO</h1>
  <button
    class="rounded-full bg-primary flex w-full justify-center items-center mx-auto py-3 text-white hover:scale-105 transition-transform duration-200"
    (click)="submit()"
  >
    Next
    <lucide-angular
      name="arrow-right"
      class="text-white cursor-pointer hover:text-gray-300 transition-colors duration-100 ml-2"
    ></lucide-angular>
  </button>
</div>
