<div class="relative">
  <div id="sidebar" class="w-56 bg-primary min-h-screen fixed">
    <img
      src="assets/logo.png"
      alt="logo"
      class="w-40 mx-auto cursor-pointer"
      routerLink="/home"
    />
    <hr class="text-gray-300 mx-5 -mt-3 mb-8" />
    <div class="mx-5 flex flex-col gap-5">
      <a
        *ngFor="let element of getViewableNavItems()"
        [routerLink]="getParsedLink(element.href)"
        class="text-white flex flex-row items-center rounded-xl p-2 hover:scale-105 transition-all duration-200"
        [style.background-color]="getBgColor(element.href, element.exact)"
      >
        <lucide-angular
          [name]="element.icon"
          class="text-white"
        ></lucide-angular>
        <span class="border-l border-white ml-3 pl-3 font-bold">{{
          element.title
        }}</span>
      </a>
    </div>
  </div>
  <div class="pl-56 min-h-screen">
    <div class="h-16 bg-[#F3F3F3] shadow-xl flex items-center justify-end">
      <div class="flex flex-row items-center justify-center mr-10">
        <img
          [src]="
            'https://api.dicebear.com/5.x/initials/png?seed=' +
            user?.user?.profile?.name?.replace(' ', '+')
          "
          alt="user"
          class="w-10 h-10 rounded-full"
        />
        <span class="text-gray-800 ml-3">{{ user?.user?.profile?.name }}</span>
      </div>
    </div>
    <ng-content />
  </div>
</div>
