<div
  [style]="{ 'background-image': getImageUrl() }"
  class="h-96 bg-cover bg-center relative rounded-lg shadow-2xl cursor-pointer hover:scale-105 transition-all duration-200"
>
  <div class="absolute bottom-5 left-0 right-0 p-5">
    <h1 class="text-white font-sans text-5xl font-bold text-right">
      {{ project.title }}
    </h1>
    <p class="text-white text-right font-sans font-bold text-xl">
      {{ project.shortDescription }}
    </p>
    <div class="flex flex-row gap-2 items-center justify-end">
      <lucide-angular name="circle-dot" class="text-white"></lucide-angular>
      <span class="text-white font-bold font-sans"
        >Devices online: 34 pcs.</span
      >
    </div>
  </div>
  <div class="absolute bottom-0 left-2">
    <span class="text-gray-300 font-bold"
      >Since: {{ project.createdAt | date: "MM/yyyy" }}</span
    >
  </div>
</div>
