/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "../../../node_modules/quill/dist/quill.snow.css";
@import "../../../node_modules/ol/ol.css";

@theme {
  --color-primary: #425f4c;
  --color-primary-light: #7bb28e;
  --color-primary-slight: #5f8a6e;
  --color-component-gray: #fdfdfd;
  --color-component-outline: #e6e6e6;

  --font-sans: InterVariable, sans-serif;
  --font-raleway: "Raleway", serif;
  --breakpoint-3xl: 120rem;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

.highcharts-container { pointer-events: auto !important; }
