<!-- Left user info -->
<div class="flex gap-3 text-white font-bold items-center h-full">
  <lucide-angular name="user" class="text-white"></lucide-angular>
  Hi, MK!
</div>

<!-- Center logo -->
<div></div>

<!-- Right navigation -->
<div class="flex justify-around gap-5 mr-10 h-full items-center">
  <a routerLink="globe">
    <lucide-angular
      name="globe"
      class="text-white cursor-pointer"
    ></lucide-angular>
  </a>
  <a class="text-white underline" routerLink="/home?own">My projects</a>
  <a class="text-white underline" routerLink="/home">All projects</a>
  <a class="text-white underline" routerLink="/story">Our story</a>
  <span class="text-white underline">Log out</span>
</div>
