<!-- Left user info -->
<div class="flex gap-3 text-white font-bold items-center h-full" *ngIf="user">
  <lucide-angular name="user" class="text-white"></lucide-angular>
  Hi, {{ user?.profile?.name }}
</div>

<!-- Center logo -->
<div></div>

<!-- Right navigation -->
<div class="flex justify-around gap-5 mr-10 h-full items-center">
  <a routerLink="globe">
    <lucide-angular
      name="globe"
      class="text-white cursor-pointer"
    ></lucide-angular>
  </a>
  <a class="text-white underline" routerLink="/home?own" *ngIf="user"
    >My projects</a
  >
  <a class="text-white underline cursor-pointer" routerLink="/home"
    >All projects</a
  >
  <a class="text-white underline cursor-pointer" routerLink="/story"
    >Our story</a
  >
  <span
    class="text-white underline cursor-pointer"
    *ngIf="user"
    (click)="logout()"
    >Log out</span
  >
  <span
    class="text-white underline cursor-pointer"
    *ngIf="!user"
    (click)="login()"
    >Log in</span
  >
</div>
